/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #03002E;
    margin: 0;
    padding: 0;
}

/* Header section styling */
header {
    background: #010048;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border: 1px solid lightgreen;
}

/* Styling for team logo image */
.team-logo {
    width: 150px; /* Adjust the size as needed */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;

}

/* Menu button styling */
header nav {
    margin-top: 10px;
}

header nav button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

header nav button:hover {
    background: #0056b3;
}

/* Flex container for team bios and vision sections */
.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Card styling for individual team bios */
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(30% - 40px);
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    margin: 0 0 10px;
}

/* Initially hide bio details */
.bio {
    display: none;
    margin-top: 10px;
    color: #555;
}

/* Button styling */
button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

div > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px;
}

#vision {
    color: white;
}

.moodboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.moodboard img {
    width: 30px;
    height: 30px;
}

.bio1 {
    font-family: Verdana, sans-serif;
    color: blue;
    font-weight: bold;
}

.bio2 {
    font-family: Georgia, serif;
    color: green;
    font-weight: bold;
}

.bio3 {
    font-family: Garamond, serif;
    color: purple;
    font-weight: bold;
}


.bio4{
    font-family: Tahoma, sans-serif;
    color: red;
    font-weight: bold;
}


.bio5 {
    font-family: 'Courier New', monospace;
    color: orange;
    font-weight: bold;
}

.bio1, .bio2, .bio3, .bio4, .bio5 {
    display: none;
}

.rlink {
    font-size: 10pt;
}

.desc {
    font-size: 9pt;
}

.mood-pic {

    margin-left: 20px;
    margin-right: 30px;


}

